<div class="wrapper">
    <div class="content">


        <!-- Navigation -->
        <nav class="navbar  navbar-dark fixed-top bg-dark ">

            <div class="col-md-4">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Online Kütüphane</a>
            </div>
            <div class="col-md-6">
                <app-search></app-search>
            </div>
            <div class="col-md-2"></div>

        </nav>

        <br>
        <!-- Page Content -->
        <div class="container">


            <router-outlet></router-outlet>

        </div>
        <!-- /.container -->
    </div>

    <!-- Footer -->
    <footer class="py-5  footer">
        <div class="container">
            <p class="m-0 text-center text-dark">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
</div>